.deneme {
  position: relative;
  left: 500px;
}

.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
  color: #ffffff;
}
.nav-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-list li a:hover:before {
  margin-left: 0;
  opacity: 1;
  visibility: visible;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 23px;
  font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
  content: "\f14f";
  font: 400 21px/1 "Material Design Icons";
  color: #4d6de6;
  display: inline-block;
  vertical-align: baseline;
  margin-left: -28px;
  margin-right: 7px;
  opacity: 0;
  visibility: hidden;
  transition: 0.22s ease;
}

.foot-lnk a {
  text-decoration: none;
}

.foot-lnk2 a {
  text-decoration: none;
}

.my-card {
  position: absolute;
  left: 40%;
  top: -20px;
  border-radius: 50%;
}

.cll {
  margin-top: 10px;
  margin-bottom: 50px;
}

.dnm6 {
  margin: 40px 0px 50px 0px; /*yukarı sağ aşşağı sol */
  width:500px;
  position: absolute;
  left: 700px;
  top: 750px;
}

.bslk {
  color: #c0392b;
}

.denemeclass {
  color: white;
}

.contact-list {
  color: white;
}

.backchange {
  margin-left: 4px;
}

.renkDegistirButton {
  position: relative;
  left: 00px;
}

#yukari {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #00b2f2;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 35px;
  transition: all 0.3s ease;
  z-index: 99;
}
#yukari i {
  color: #fff;
  font-size: 20px;
}
#yukari:hover {
  background-color: #fcb100;
}

.container4 {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 40px;
}

form {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  color: white;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Padding ve borderı içeriye almak için */
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.butonpdf {
  width: 100%;
}

.av2 {
  font-weight: bold;
}

.kartlarim {
  width: 37%;
  margin-bottom: 30px;
  position: relative;
  top: 20px;
  left: 100px;
}


.cont{
  padding-left: 30px;
}

.card10 {
  height: 200px;
  display: flex;
  justify-content: center;  
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  border: 2px solid #007bff; /* Kenarlık rengini mavi olarak değiştir */
  border-radius: 10px; /* Köşeleri yuvarla */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Hafif bir gölge ekle */
  background-color: #f8f9fa; /* Arka plan rengini açık gri yap */
  color: #343a40; /* Yazı rengini koyu gri yap */
  transition: all 0.3s ease; /* Tüm özelliklerde geçiş efekti uygula */
  transform-style: preserve-3d; /* Çocuk öğelerin dönme düzlemini koru */
}

.card10:hover {
  border-color: #0056b3; /* Üzerine gelindiğinde kenarlık rengini koyu mavi yap */
  transform: rotateY(180deg); /* 3D dönme animasyonu: 180 derece döndür */
}

.card10 span {
  display: block;
  transform: rotateY(0deg); /* İlk durumda metni ters çevirme */
  transition: transform 0.3s ease; /* Geçiş efekti uygula */
}

.card10:hover span {
  transform: rotateY(180deg); /* Kart içindeki metni ters çevir */
}






.videos-container {
  display: flex;
  justify-content: space-between; /* İki videoyu sağa ve sola yasla */
}

.video-wrapper {
  width: calc(50% - 10px); /* Container'ın yarısını al, aralarındaki boşluğu da hesaba kat */
}






/* sonradan ekleme */


.kard {
  position: relative;
  width: 200px;
  height: 150px;
  margin: 10px;
  perspective: 1000px;
  border-radius: 10px; /* Köşeleri yuvarla */
  overflow: hidden; /* İçeriği kartın dışına taşmasını engelle */
}

.kard .front, .kard .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
  display: flex; /* İçeriğin dikey ve yatay merkezlenmesini sağlar */
  justify-content: center;
  align-items: center;
  padding: 10px; /* İçerik ile kart kenarları arasında boşluk bırakır */
  box-sizing: border-box; /* Padding ve borderı içeriye almak için */
  font-size: 18px; /* Yazı boyutunu ayarla */
  font-weight: bold; /* Yazıyı kalın yap */
}

.kard .front {
  background-color: #fff;
  border: 1px solid #ccc;
}

.kard .back {
  background-color: #007bff;
  color: #fff;
  transform: rotateY(180deg);
}

.kard:hover .front {
  transform: rotateY(180deg);
}

.kard:hover .back {
  transform: rotateY(0deg);
}

.kard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Kartları ortalamak için */
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Sayfanın içeriği üzerinde görünmesini sağlar */
}








#parallax {
  background: linear-gradient(
    rgba(12, 12, 12, 0.5),
    rgba(17, 18, 20, 0.5)
  ),
  url('image/site.to.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-align: center;
}



#parallax2 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(7, 7, 7, 0.5)
  ),
  url('image/site.to2.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-align: center;
}








/* Stil dosyanızdaki CSS kodları */
.rating input {
  display: none;
}

.rating label {
  font-size: 24px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.rating label:hover,
.rating label:hover ~ label {
  color: rgb(0, 34, 255);
}








body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 100px;
  resize: vertical;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}




body {
  font-family: "Audiowide", sans-serif;
}


/* zamanlayıcı kısmı*/
#countdown {
  font-size: 24px;
  color: rgb(173, 240, 239);
}






.highlight {
  background-color: yellow;
}




#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #2669c0;
  border: solid 1px #c3c3c3;
}

#panel {
  padding: 50px;
  display: none;
}





